@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --bg: #151515;
  --black:#1e1e1e;
  --darkBlue:#2bc7ee41;
  --green: #00b85e;
  --blue:#29c5ee;
  --yello: #ffd928;
  --grey: #898989;
  --white: #ffffff;
  --border: #272727;
  --searchBar: #1e1e1e;
  --gradient: linear-gradient(315deg, #6e38e0, #ff5f36);
  --Gradient: -webkit-linear-gradient(315deg, #6e38e0, #ff5f36);
  --semiBold:600;
  --green:#00b85e;
  --border-left:6px;
}

/*stolen*/
:root {
    --purple:#6e38e0;
    --orange:#ff5f36;
    --darkBlack:#151515;
    --lightBlack:#282828;
    --black:#1e1e1e;
    --green:#00b85e;
    --BrightYellow:#ffd928;
    --yellow:#eab04d;
    --darkYellow:#eab14d41;
    --silver:#898989;
    --white:#ffffff;
    --darkBlue:#2bc7ee41;
    --blue:#29c5ee;
    --GreenishBlue:#19c8a7;
    --darkGreenishBlue:#19c8a841;
    --darkRed:#d11a2c41;
    --red:#cf1a2c;
    --lightSilver:#9388893c;
    --font-family: "Urbanist", sans-serif;
    --radius:16px ;
    --semiBold:600;
    --border-left:6px;
}

* {
  padding: 0;
  margin: 0;
  
}
body {
  margin: 0;
  background-color: var(--bg);
  color: var(--white);
}

/*get rid of*/
#container > div {
  border: solid 1px var(--border);
}

#container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 5fr; /*this may change !*/
  grid-template-rows: 1fr 15fr;
}

/*logo*/
#logo {
  place-self: center;
  display: flex;
  font-family: "Urbanist";
  font-size: 1.5rem;
  size: 1.5rem;
}
#logo i {
  color: var(--gradient);
  background: var(--Gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*dashboard*/
#dashboard {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-width: 140px;
}

.idash {
  display: flex;
  flex-direction: column;
  font-family: "Urbanist";
  margin: 20px 0;
}

.idash span {
  margin: 10px 0;
  text-transform: capitalize;
  color: var(--grey);
  padding: 5px 0 5px 10px;
  border-radius: 0 15px 15px 0;
  user-select: none;
}
.dashboardButton {
  cursor: pointer;
}
.idash .dashboardButton:hover {
  background-image: var(--gradient);
  color: var(--white);
}

.idash .titleOfDashboard {
  text-transform: uppercase;
  margin-right: 5px;
  font-size: 12px;
}

/*TOOL BAR*/
#toolBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#searchBar {
  background-color: var(--searchBar);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 5px 10px;
  min-width: 281.2px;
  margin-left: 20px;
}

#searchBar input {
  background: transparent;
  flex: 2;
  border: 0;
  outline: none;
  padding: 5px 10px;
  color: var(--white);
}
::placeholder {
  color: var(--grey);
}
#searchBar button {
  border: none;
  background-color: var(--searchBar);
  cursor: pointer;
  color: var(--grey);
}

#topIcons {
  margin: 5px;
  user-select: none;
  display: flex;
}

#topIcons button {
  border: none;
  background-color: var(--searchBar);
  color: var(--grey);
  border-radius: 50px;
  padding: 7px 8px 6px 8px;
  margin: 2px;
  cursor: pointer;
}
#topIcons button:hover {
  background-image: var(--gradient);
}




/*JOB CARDS*/
.job-cards-container {
    display: flex;
    flex-direction: row;
    font-family: "Urbanist";
    padding: 15px;
    width: 79vw;
    overflow: auto;
  
}

.job-card-box {
    background-color:var(--searchBar);
  border-left: solid red 4px;
  justify-content:space-between;
  max-width: 315px;
  min-width: 315px;
    min-height: 182px;
    border-radius: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
    margin: 20PX;
  padding: 10px;
  
}

.job-card-header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
}

.job-card-header img {
  height: 60px;
  width: 60px;
}

.job-name {
    display: flex;
  flex-direction: column;
  gap: 2px;
}

.job-name span:first-child {
  font-size: 20px;
  font-weight: var(--semiBold);
}

.job-name span:last-child {
  font-size: 13px;
}
.arrow-container {
    width: 15px;
    height: 15px;
    background-color:var(--searchBar);
    border-radius:50%;
    padding: 15px;
    display: flex;
    align-items: center;
}
.arrow-up-right {
    width:19px;
    border-bottom: 1px solid var(--white);
    border-radius: 1px;
}

.left-side-header-card{
    display:flex;
    flex-direction: row;
}

.card-middle span{
    border: none;
    background-color:var(--border) ;
    padding: 5px 9px 4px 8px;
    border-radius: 16px;
    color: var(--grey);
}

.card-bottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.card-bottom-left span:first-child{
    font-size: 3em;
    font-weight: 700;
}

.card-bottom-left span:last-child{
    font-size: 0.8em;
    color: var(--grey);
}

.card-bottom-right{
    color: var(--green);
}


.current-openings{
    font-family: "Urbanist";
    margin: 40px 20px 20px 40px;
    font-size: 2em;
}

#table-container{
  
    border:none;
    background-color: var(--searchBar);
    border-radius: 16px;
    font-family: "Urbanist";
    max-width: 90%;
    min-width: 950px;
    margin: 20px;
   

}

#table-container #button button{
    background-color: inherit;
     border: none;  
    color:var(--grey);
    font-weight: 700;
    padding: 20px;
    padding-left: 30px;
    font-size: 1.1em;
    cursor: pointer;
    border-bottom: solid transparent 4px;
}

#button{
    border-bottom: solid var(--border) 3px;
    margin: 10px;
}

table{
    width: 100%;
    border-collapse: collapse; 
    border: none;
}
td, th {
    border: none;
    padding: 20px;
}
thead{

    background-color: var(--border);
    border-radius: 16px;
}



.job-cards-container > div:nth-child(1) {
    background-image: radial-gradient(150px 200px at top right,var(--darkBlue),var(--black));
    border-left:var(--border-left) solid var(--blue);
}

.job-cards-container > div:nth-child(2) {
    background-image: radial-gradient(150px 200px at top right,var(--darkRed),var(--black));
    border-left:var(--border-left) solid var(--red);
}

.job-cards-container > div:nth-child(3) {
    background-image: radial-gradient(150px 200px at top right,var(--darkYellow),var(--black));
    border-left:var(--border-left) solid var(--yellow);
}

.job-cards-container > div:nth-child(4) {
    background-image: radial-gradient(150px 200px at top right,var(--darkGreenishBlue),var(--black));
    border-left:var(--border-left) solid var(--GreenishBlue);
}